

        <!-- Image Overlay Cards -->
        <div class="card-category-3" style="padding-top: 80Px;">



            <ul>
                <li>
                    <div class="ioverlay-card io-card-1">
                        <div class="card-content">
                            <span class="card-title">{{getTitle()}}</span>
                            <p class="card-text">
                                <a href="https://pixabay.com/users/Mariamichelle-165491/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=685303" style="text-decoration:none; color:#fff">Michelle Maria</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=685303"style="text-decoration:none; color:#fff">Pixabay</a>
                            </p>
                        </div>
                        <span class="card-link">
                            <a href="#" title="Read Full"> This is a Link </a>
                        </span>
                        <img [src]="source"/>
                    </div>

                </li>

                <li>
                    <div class="ioverlay-card io-card-2">
                        <div class="card-content">
                            <span class="card-title">Card Title</span>
                            <p class="card-text">
                                Image by <a href="https://pixabay.com/users/1195798-1195798/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4296784"style="text-decoration: none;color:#fff">1195798</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4296784"style="text-decoration: none;color:#fff">Pixabay</a>
                            </p>
                        </div>
                        <span class="card-link">
                            <a href="#" title="Read Full">
                                <span>This is a Link</span>
                            </a>
                        </span>
                        <img src="https://www.dropbox.com/s/lsxxizyph3ic7zb/frog-4296784_640.jpg?raw=1"/>
                    </div>
                </li>
            </ul>

        </div>


