.search-div{
  margin: 10px 20px;
  padding: 10px 20px;
  background-color: transparent;
}
input[type=text]{
  width: 240px;
  height: 30px;
  margin-left: 20px;
  border: none;
  margin-bottom: 10px;
  align-items: center;
}
.changeBackground{
  background-color: rgb(74, 180, 145);
}
